@font-face {
  font-family: 'Answers';
  src: url('/fonts/Answers.otf') format('opentype');
}

:root {
  background-color: #fff4ed;
}

.option-button {
  background-color: #1B4332;
  color: #FFFFFF;
  font-family: var(--font-fafo), 'Answers';
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
}

.end-button {
  background-color: #1B4332;
  color: #FFFFFF;
  font-family: var(--font-fafo), 'Answers';
  border-radius: 30px;
  border: 3px solid #FFFFFF;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
}