@font-face {
  font-family: 'Answers';
  src: url('/fonts/Answers.otf') format('opentype');
}

:root {
  background-color: black;
}

.option-button {
  background-color: #1B4332;
  color: #FFFFFF;
  font-family: var(--font-fafo), 'Answers';
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}